<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <div>
      <% if current_user?(@user) %>
        <% if @user.connected? %>
            <p>
              <span class="glyphicon glyphicon-ok"/>
              Connected with Stripe
            </p>
            <%= link_to 'Deauthorize Stripe Account', stripe_deauthorize_path, class: 'btn btn-danger btn-lg' %>
        <% else %>
            <%= link_to 'Connect Stripe Account', stripe_oauth_path, class: 'btn btn-lg btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </aside>
  <div class="col-md-8">
    <% if @user.campaigns.any? %>
      <h3>Campaigns (<%= @user.campaigns.count %>)</h3>
      <ol class="campaigns">
        <%= render @campaigns %>
      </ol>
      <%= will_paginate @campaigns %>
    <% end %>
  </div>
</div>
