<div id="campaign-<%= campaign.id %>" class="campaign-item-view">
  <div class="display-image">
    <%= link_to image_tag(campaign.picture.url, class: 'image-tag'), campaign %>
  </div>
  <div class="info">
    <h4 class="title">
      <%= emojify(campaign.title) %>
    </h4>
    <span class="user">
      <%= link_to campaign.creator.name, campaign.creator %>
    </span>
    <div class="subtitle">
      <%= emojify(campaign.subtitle) %>
    </div>
    <% if current_user?(campaign.creator) %>
      <%= link_to 'delete', campaign, method: :delete, data: { confirm: 'You sure?' } %>
    <% end %>
  </div>
</div>
