<div id="show_title-header">
  <h1 id="show_title"><%= @campaign.title %></h1>
  <div id="show_subject">
    <h2 id="show_subtitle"><%= @campaign.subtitle %></h2>
    <h2 id="show_name">By <%= @campaign.creator.name %></h2>
  </div>
</div>


<div class="info-row row campaign-show">
  <div class="col-md-5 col-md-offset-1">
    <%= image_tag @campaign.picture.url %>
  </div>

  <div class="col-md-5 beside-photo">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Campaign Info</h3>
      </div>
      <div class="panel-body">
        <h3 class="first"><%= pluralize(@campaign.supporters.count, 'Supporter') %></h3>
        <h3>$<%= @campaign.pledged_amount || 0 %> Raised</h3>
        <h3>$<%= @campaign.goal_amount %> Goal</h3>
        <h3>$<%= @campaign.amount_left %> To Go!</h3>
        <h3><%= @campaign.days_left %> Left To Raise Funds </h3>
        <% if current_user.supported_campaigns.include?(@campaign) %>
          <div class="panel panel-success">
            <div class="panel-body">
              You're supporting this campaign!
            </div>
          </div>
        <% elsif current_user?(@campaign.creator) %>
          <div class="panel panel-info">
            <div class="panel-body">
              You're the owner of this campaign
            </div>
          </div>
        <% else %>
          <%= link_to "LEND", new_campaign_support_path(campaign_id: @campaign.id), class: 'btn btn-success lend' %>
        <% end %>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
      </div>
      <div class="panel-body">
        <%= @campaign.description %>
      </div>
    </div>
  </div>
</div>
